---
layout: default
---
<article id="post-page">
  <h2>{%if page.header %}{{ page.header | escape }}{% else %}{{ page.title | escape }}{% endif %}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  <span>
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
    </span>
  <div class="content">

    {{ content }}

  </div>

  <div>
  	{% if page.comments %}
	<div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = "http://127.0.0.1:4000{{ page.url }}"; // <--- use canonical URL
				this.page.identifier = "{{ page.id }}";
				};
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//developia.disqus.com/embed.js'; // <--- use Disqus shortname

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
		</noscript>
{% endif %}
  </div>

</article>

